body {
  background-color: #1b2b77;
}


header{
 background-color: #4169E1;
 height: 80px;
 font-size: 35pt;
 font-weight: bold;
 text-align: center;
}


#cont {
    padding: 15px;
  background-color: #00BFFF;
  width: 60rem;
}


p {
  font-size: 20px;
  font-weight: bold;
}

footer{
    background-color: #4169E1;
    height: 80px;
}
